#background {
    background-image: url(img/bliss2.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    z-index: -1;
}
  body {
    font-family: Arial, sans-serif;
    margin: 0;
}
h2 {
    color: blue;
    background-color: rgba(141, 141, 141, 0.5);
    font-size:18pt;
    padding: 20px
}
h1 {
    color: rgb(0, 0, 152);
    padding: 10px;
    align-content:center;
}
p {
    font-size: 12pt;
    background-color: rgba(164,164,164,0.7);
    padding: 20px;
    margin-left: 30px;
    width: 75%;
    justify-content: center;
}
li {
    font-size: 12pt;
}
img {
    background-color: rgb(44, 44, 44);
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    margin-left: 20px;
}
footer {
    background-color: rgb(44,44,44);
    color: whitesmoke;
    padding: 40px;
    margin: 40px;
    align-content: center;
}
.container {
  display: flex;
}
.container div {
  background-color: #bbbbbb;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.nounderline {
    text-decoration: none;
}
.peace {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-left: 0px;
    background-color: rgba(0,0,0,0)
}
.indent {
    text-indent: 20px
}
.smallerbg {
    background-color: rgb(44,44,44);
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 15 px;
    padding-left: 15px;
    margin-left: 15px;
}
.blockquote {
    font-size: 24pt; 
    font-family:'Courier', Courier, monospace;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.isformat {
  font-family: 'Courier Bold', monospace;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  right: 0;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}