#background {
    background-image: url(img/bliss2.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    z-index: -1;
}
  body {
    font-family: Arial, sans-serif;
    margin: 0;
}
h2 {
    color: blue;
    background-color: rgba(200,200,200,0.5);
}
h1 {
    color: rgb(0, 0, 152);
}
p {
    background-color: rgba(164,164,164,0.8);
}
a.nounderline {
    text-decoration: none;
}