#background {
    background-image: url(img/bliss2.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    z-index: -1;
}
  body {
    font-family: Arial, sans-serif;
    margin: 0;
}
h2 {
    color: blue;
    background-color: rgba(200,200,200,0.5);
    font-size:18pt;
}
h1 {
    color: rgb(0, 0, 152);
}
p {
    font-size: 12pt;
    background-color: rgba(164,164,164,0.7);
    padding: 20px;
    width: 75%;
    justify-content: center;
}
li {
    font-size: 12pt;
}
img {
    background-color: rgb(44, 44, 44);
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
}
.container {
  display: flex;
}
.container div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.nounderline {
    text-decoration: none;
}
.peace {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    background-color: rgba(0,0,0,0)
}
.indent {
    text-indent: 20px
}