#background {
    background-image: url(img/bliss.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    z-index: -1;
}
  body {
    font-family: Arial, sans-serif;
    margin: 0;
}
h2 {
    color: blue;
}
h1 {
    color: blue;
}
p {
    background-color: rgb(164, 164, 164)
}
a.nounderline {
    text-decoration: none;
}